<!DOCTYPE html>
<html>
<head>
    <title>Reclutamiento</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>Reclutamiento</h1>
    <form action="/standarize" method="GET">
        <button type="submit">Estandarizar CV</button>
    </form>
    <form action="/match" method="GET">
        <button type="submit">Hacer match</button>
    </form>
</body>
</html>

